*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.banner{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 51px;
    background-color:#009e5f;
    position: fixed;
}
.banner img{
    width:110px;
    height:94px;
    padding-left:14px;
}
.images{
    display: flex;
    width:100%;
    height:100vh;
}
   
.img1{
    display:flex;
    flex-direction: column;
    width:30%;
    height:100vh;
    justify-content:center;
    align-items: center;
    padding-top:30px;
}
.temp{
    width:85%;
    height:45%;
    background-image:url(img/hhhh.webp);
    background-size: cover;
    background-position: center;
    padding-bottom:90px;
    padding-left: 20px;

}
.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:75%;
    height:100vh;
    background-image: url(img/7up_featured_m.webp);
    background-size:100%;
    background-position: center;
}
.img2 img{
    width:95px;
    height:95px;
}
.img1 h1{
    color: #009e5f;
    font-family: 'Manrope', sans-serif;
    font-size:25px;
    font-weight:bolder;
    padding-bottom:20PX;
}
.banner .text{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight:25px;
    font-size:12px;
    padding-right:30px;
}
.banner .text h3:hover{
    color:#524f4f;
}
.text h3{
    padding:10px;
}
.explore-button{
    padding: 10px 17px;
    font-weight:bolder;
    font-size: larger;
    color: #009e5f;
    border: 3px solid #009e5f; 
    transition: .2s ease-in;
}
.explore-button:hover{
    background: #009e5f;
    color: #fff;
}
.second-div{
    width:100%;
    height:700px;
    background-image: url(img/7up-simple-banner.webp);
    background-position:center;
    background-size:1250px;
    padding-left:20px;
}
.second-div h1{
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight:bolder;
    font-size:50px;
    padding-left:77px;
    padding-top:170px;
}
.second-div p{
    color: #fff;
    font-family: 'Manrope', sans-serif;
    padding-left:77px;
    padding-top:3px;
    font-size:20px;
}
.explore-button2{ 
    padding-top:3px;
    padding: 15px 17px;
    font-weight:bolder;
    font-size: larger;
    color:#009e5f;
    margin-left:77px;
    margin-top:30px;
    transition: .2s ease-in;
    border: 3px solid #009e5f; 
}
.explore-button2:hover{
    background:#009e5f;
    color:#fff;
}
.main-div{
    display: flex;
    width:100%;
    height:130vh;
}
.third-div{
    width:50%;
    height:100%;
    background-color:#fff;
}
.fourth-div{
    width:50%;
    height:100%;
    background-color:#ececec;
}
.third-div img{
    width:90%;
    height:62%;
    justify-content: center;
    padding-top:150px;
    padding-left:50px;
}
.a{
    display: flex;
}
.a img{
    width:65px;
    height:120px;
    padding-left:75px;
    padding-top:110px;
}
.a h1{
    color:#009e5f;
    font-family:'Manrope', sans-serif;
    font-weight:bolder;
    padding-top:100px;
    padding-left:70px;
    font-size:80px;
    line-height:85px;
}
.a span{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size:50px;
}
.temp-div{
    margin-top:4px;
    width:100%;
    height:200px;
}
#link{
    width:100%;
    height:40px;
}
#link a{
 color: #858585; 
 padding-left:170px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:small;
 font-weight:bolder;
}
.textess{
    padding-left:75px;
}
.textess p{
    color: #858585;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:25px;
}
.temp-div button{
    margin-top:30px;
    margin-left:230px;
    padding: 5px 20px;
    font-weight:bolder;
    font-size:medium;
    color:#009e5f;
    border: 3px solid #009e5f;
    transition: .2s ease-in;
}
.temp-div button:hover{
    background:#009e5f;
    color:#fff;
}
.glass{
    width:100%;
    height:300px;
    margin-top:50px;
}
.glass img{
    width:350px;
    height:295px;
    padding-left:150px;
}
.footer{
    display: flex;
    width:100%;
    height:115vh;
    background-image: url(img/footer-bg.webp);
    background-position: center;
    background-size:100%;
    justify-content:center;
}
.end{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:80%;
    height:125px;
    background-color:rgba(254, 254, 254,0.7);
    margin-top:550px;
}
.one{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:250px;
    height:35%;
}
.one img{
    width:19px;
    height:19px;
}
.two{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:650px;
    height:32%;
}
.two a{
    color: #524f4f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    font-size:14px;
}
.three{
    display: flex;
    justify-content: center;
    width: 100%;
    height:33%;
}
.three p{
    color: #524f4f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pic1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-image: url(img/image\ 1.webp);
}
.pic2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-image: url(img/image\ 2.webp);
}
.pic3{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-image: url(img/image\ 3.jpg);
}
.pic1 button{
    background: #fe5887;
    color: #fff;
    border:2PX solid #fe5887;
    width:330PX;
    height:80PX;
    font-size:2vw;
    font-weight: bolder;
    transition: .3s ease-in;
}
.pic1 button:hover{
    background:#fff;
    color:#fe5887;
    border:2PX solid #fff;
}
.pic2 button{
    background:#6ba13f;
    color: #fff;
    border:2PX solid #6ba13f;
    width:330PX;
    height:80PX;
    font-size:2vw;
    font-weight: bolder;
    transition: .3s ease-in;
}
.pic2 button:hover{
    background:#fff;
    color:#6ba13f;
    border:2PX solid #fff;
}
.pic3 button{
    
    background:#c064ac;
    color: #fff;
    border:2PX solid #c064ac;
    width:330PX;
    height:80PX;
    font-size:2vw;
    font-weight: bolder;
    transition: .3s ease-in;
}
.pic3 button:hover{
    background:#fff;
    color:#c064ac;
    border:2PX solid #fff;   
}
